@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@100&display=swap');

*{
    box-sizing: border-box;
    border: 0;
    margin: 0;
    padding: 0;

}

body {
   min-width: 100vw;
   margin: 0%;
   padding: 0%;
   font-family: 'Be Vietnam Pro', sans-serif;
   background-color: #FFFFFF;
   background-image: url(../imagenes/bg-tablet-pattern.svg);
   background-repeat: no-repeat;
   background-position-x: 800px;
   background-position-y: -300px;
}
 

li, a, button {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-weight: 400;
    font-size: 13px;
    text-decoration: none;
    
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}

.logo {
    cursor: pointer;
}

.lista_nav {
    list-style: none;
}

.lista_nav li {
    display: inline-block;
    padding: 0px 5px;
   
}

.lista_nav li a {
    transition: all 0.3s ease 0s;
    font-size: 17px;
    color: rgb(35, 44, 81);

}


.lista_nav li a:hover {
    color: rgb(209, 209, 209);
}

button{
    border-radius: 50px;
    color: white;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 134px;
    height: 44px;

    background: #F3603B;
    box-shadow: 0px 4px 8px rgba(242, 97, 59, 0.5);
   

}

button:hover{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    background-color: rgb(249, 175, 157);
    cursor: pointer;
    transform: scale(1.1);
}

.Inicio{
    display: flex;
    margin: 100px;
}

.text {
    font-size: 60px;
    color: rgb(35, 44, 81);
    font-weight: 700px;
}

.subText{
  
    Width: 350px;
    font-family: 'Be Vietnam Pro', sans-serif; 
    font-weight: 500;
    font-size: 18px;
    color:  rgba(179, 178, 183, 1);
    margin: 30px 0px;
}

.mid{
    display: flex;
    margin: 100px;
}

.midText h2{
   
display: flex;
flex-direction: column;
width: 433px;
height: 88px;

font-family: 'Be Vietnam Pro';
font-style: normal;
font-weight: bold;
font-size: 37px;
line-height: 114.6%;

display: flex;
align-items: center;

color: rgb(35, 44, 81);
}

.midText p{
        
    Width: 350px;
    font-family: 'Be Vietnam Pro', sans-serif; 
    font-weight: 500;
    font-size: 17px;
    color:  rgba(179, 178, 183, 1);
    margin: 30px 0px;
  
}

.orderedList1::before{
    content: '1';
    background-color: #F3603B;
    padding: 5px 20px;
    border-radius: 15px;
    color: white;
    margin-right: 15px;

}
.orderedList{
    display: flex;
    margin-left: 250px;
    flex-direction: column;
    
}
.orderedList p {

width: 437px;
height: 104px;


font-family: 'Be Vietnam Pro';
font-weight: 500;
font-size: 17px;
line-height: 26px;
align-items: center;
letter-spacing: -0.01em;
color: #B3B2B7;
margin: 18px 0px;

}


.orderedList2::before{
    content: '2';
    background-color: #F3603B;
    padding: 5px 20px;
    border-radius: 15px;
    color: white;
    margin-right: 15px;
}


.orderedList3::before{
    content: '3';
    background-color: #F3603B;
    padding: 5px 20px;
    border-radius: 15px;
    color: white;
    margin-right: 15px;
}


.opinions h2{
    width: 400px;
    font-family: 'Be Vietnam Pro', sans-serif;
    font-size: 35px;
    display: flex;
    text-align: center;
    color: #242E53;
    margin: auto;
    
}

.cards{
    
    display: flex;
    flex-direction: row;
    margin: 50px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    box-shadow: 0px 4px 4px rgba(168, 168, 168, 0.808);
    
}

.name1 span{
    display: flex;
    width: fit-content;
    height: 25px;
   

    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    align-content: center;
    color: #3F4868;
    margin: auto;

}
.name1 img{
    width: 70px;
    display: flex;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}
.name1 p{

    width: 390px;
    left: 0px;
 
    font-family: 'Be Vietnam Pro';
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: #B9B9C1;
    margin: 21px 0px;


}


.name2 span{
    display: flex;
    width: fit-content;
    height: 25px;
   

    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    align-content: center;
    color: #3F4868;
    margin: auto;

}
.name2 img{
    width: 70px;
    display: flex;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}
.name2 p{

    width: 390px;
    left: 0px;
 
    font-family: 'Be Vietnam Pro';
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: #B9B9C1;
    margin: 21px 0px;


}


.name3 span{
    display: flex;
    width: fit-content;
    height: 25px;
   

    font-family: 'Be Vietnam Pro';
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    align-content: center;
    color: #3F4868;
    margin: auto;

}
.name3 img{
    width: 70px;
    display: flex;
    text-align: center;
    margin: auto;
    margin-bottom: 15px;
}
.name3 p{

    width: 390px;
    left: 0px;
 
    font-family: 'Be Vietnam Pro';
    font-weight: 500;
    font-size: 16px;
    align-items: center;
    text-align: center;
    color: #B9B9C1;
    margin: 21px 0px;


}

.opinions button{
    display: flex;
    margin: auto;
 
}

.prefooter {
    
    background-color: #F3603B;
    margin-top: 100px;
    height: 224px;
    display: flex;
    background-image: url(../imagenes/bg-simplify-section-desktop.svg);

}

.whiteBtn{
    background: rgba(255, 255, 255, 1);
    color: #F3603B;
    margin: auto;
    margin-right: 100px;
    box-shadow: 0px 4px 8px rgba(243, 239, 237, 0.836);
   
}

.whiteBtn:hover{
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    background-color: rgb(249, 175, 157);
    cursor: pointer;
    transform: scale(1.1);
}

.prefooter h2{
    
    display: flex;
    width: 430px;
    height: 150px;
    font-family: 'Be Vietnam Pro';

    font-size: 40px;
    line-height: 48px;
   
    
    color: #FFFFFF;

    flex-direction: row;
    order: 0;
    flex-grow: 0;
    margin: 70px 10%;
}


footer{
    background-color: rgb(30, 30, 38);
    display: flex;
    justify-content: space-around;
    padding: 40px 100px;
    color: white;
}

footer img{
    width: auto;
}

.socialNetworks{
    display: flex;
    list-style: none;
    align-items: center;
    font-size: 40px;
    justify-content: space-between;
}

.socialNetworks a:hover{
    transform: scale(1.2);
}

.contact1, .contact2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.links1, .links2{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;

}

footer a:visited{
    color: white;
}

footer a:hover{
    color: rgb(242, 95, 58);
}

form{
    display: flex;
    align-items: flex-start;
}

.email, .btnGo{
    margin-right: 10px;
    border-radius: 30px;
    border-style: none;
    padding: 5px 15px;
}


.btnGo:hover{
    background-color:rgb(242, 95, 58);
    cursor: pointer;
    
}


/* ------------SOLUCION FUNCIONAL CON VALIDACION PARA EL FORM------------
.email:invalid{
    border-color: red;
    margin-bottom: 10px;
}

.email:invalid + span::after{
    font-size: 16px;
    content: "Please insert a valid email";
    color: red;

} --------------------------------------------------------------------------*/

.addEmail{
    display: flex;
    flex-direction: column;
}

.error {
    width: 300px;
    font-size: 10px;
    color:rgb(242, 58, 58);
}

.feedback{
    margin: 5px;
}

.copyright {
    margin-top: 20px;
    color: rgba(140, 140, 148, 1);

}

.copyright i {
    color:rgb(242, 95, 58);
}

.menuHamb{
    display: none;
}

@media screen and (max-width: 375px){


    body{
        
        background-size: 80%;
    }
    .menuHamb {
        display: inline-block;
    }

    .lista_nav{
        display: none;
    }
    
     
    header {
        display: flex;
        align-items: center;
        padding: auto;
    }

    .Inicio {
        flex-direction: column-reverse;
    }

    .name2, .name3 {
        display: none;
    }






















}